
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;500&display=swap');

:root {
    --main-color: rgb(203, 202, 202);
    --black:#13131;
    --bg:#010103;
    --border:.7rem solid rgba(251, 248, 248, 0.793);
}

* 
    
    body {
        background: #fefefe;
        overflow-x: hidden;
    }


    *{
        font-family:'Maitree', serif; 
        margin:0; 
        padding:0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: .5s liner;
    }


    html::-webkit-scrollbar{
        width: .8rem;
    }
    
    html::-webkit-scrollbar-track{
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb{
        background: white;
        border-radius: 5rem;
    }
    body {
        background: var(--bg);
    }
    section{
        padding: 3rem 7%;
    }
    
    .header{
        background: var(--bg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 7%;
        border-bottom: var(--border);
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1000;
    
    
    }

    .webinfo {
        color:#fff;
        font-size: 1rem;
        background-color: #010103;
        margin-top: 130px;
        max-width:600px;
    }
    
    
    .Writing {
        background-color: rgb(203, 202, 202);
        margin-top: 130px;
        max-width:1200px;
    
    }
    .header .logo img {
        height: 4rem;
    }
    .header .navbar a {
        cursor:pointer;
        margin:0 1rem;
        font-size:1rem;
        color:white;
    
    }
    
    .header .navbar a:hover{
        color:var(--main-color);
        border-bottom: .1rem solid var(--main-color);
        padding-bottom: .5rem;
    
    }
    
    
    html {
        font-size: 90%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }
    
    .container {
        max-width: 720px;
    }
    
    h3  {
        font-family: 'Monoton';
     word-spacing: 10px;
     color: aqua;
        font-weight: 300;
        font-size: 27px;
        margin: 30px auto 50px auto;
        line-height: 1.3;
        border-bottom: solid 1px #999;
    }
    
    span {
        font-weight: 500;
    }
    
    p , span{
        color: white;
       
        font-weight: 500;
        font-size: 15px;
        line-height: 1.4;
    }
    
    .filter {
        width: 0;
        height: 0;
    }
    
    
    
    .colorBox {
        width: 30px;
        height: 20px;
        vertical-align: bottom;
        border: none;
        border-radius: 3px;
        display: inline-block;
        margin-right: 10px;
        background: #eee;
        border: solid 1px #fff;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    }
    
    .smm {
        background: #0c91e9;
    }
    
    .ot {
        background: #ff4971;
    }
    
    .oba {
        background: #80fc46; 
    }
    
    .or {
        background: #8a8afe;
    }
    
    .wd {
        background: red;
    }
    
    .if {
        background: #edf73a;
    }
    
    .gd {
        background: #e7e9ed;
    }
    
    path {
        stroke: #fefefe;
        stroke-width: 2px;
    }
    
    .col-xs-5, .col-xs-12, .col-xs-7{
        padding: 0;
        margin-bottom: 15px;
    }
    
    .myTooltip {
        -webkit-transition: 100ms all ease;
        -moz-transition: 100ms all ease;
        -o-transition: 100ms all ease;
        -ms-transition: 100ms all ease;
        transition: 100ms  all ease;
        visibility: hidden;
        z-index: 9999;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        width: 100px;
    }
    
    .tooltipContent {
        text-align: center;
        display: block;
        width: 60px;
        background: #555;
        color: #fff;
        padding: 5px 0;
        line-height: 1;
        font-size: 14px;
        border-radius: 3px;
        position: relative;
    }
    .tooltipContent::after {
        content: '';
        border-right: solid 0px transparent; 
        border-left: solid 10px transparent;
        border-top: solid 10px #555;
        position: absolute;
        bottom: -6px;
        right: 0;
    }
    
    @media screen and (max-width: 500px) {
        p , span{
            font-size: 13px;
        }
        .colorIcon {
            vertical-align: bottom;
        }
        .col-xs-5, .col-xs-12, .col-xs-7{
            padding: 0;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 20px;
            margin-top: 50px;
            margin-bottom: 70px;
        }

    }


    * {
        margin: 0;
        padding: 0;
       
      }
      .main {
        height: 100vh;
        width: 100vw;
        position: relative;
      }

    h1 {
        font-family: 'Monoton';
     word-spacing: 10px;
     color: aqua;
        font-weight: 300;
        font-size: 27px;
        margin: 30px auto 50px auto;
        line-height: 1.3;
        border-bottom: solid 1px #999;
    }
      .d1 {
        position: absolute;
        background-image: url(https://i.pinimg.com/564x/ef/28/4d/ef284dc6935840fd0a2efb17da6de70c.jpg);
        background-size: 500px 300px;
      
        height: 30vh;
        width: 15vw;
      
        background-position: 0 50%;
      
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        animation: dd1 10s 1, dd12 10s 1;
        animation-delay: 4s, 14s;
      }
      .d2 {
        position: absolute;
        background-image: url(https://i.pinimg.com/564x/0c/a6/df/0ca6df2a44a08567aff45a4016884bf4.jpg);
        background-size: 500px 1000px;
      
        height: 50vh;
        width: 25vw;
      
        background-position: -10vw 50%;
        left: 10vw;
      
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        animation: dd2 10s 2;
        animation-delay: 4s;
      }
      .d3 {
        position: absolute;
        background-image: url(https://i.pinimg.com/564x/82/7e/33/827e338c51e4574403b27a5dfb94c352.jpg);
        background-size: 600px 650px;
        overflow: hidden;
      
        height: 100vh;
        width: 40vw;
        left: 25vw;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
        background-position: -35vw 50%;
      
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        animation: dd3 10s 2;
        animation-delay: 4s;
      }
      .d4 {
        position: absolute;
        overflow: hidden;
        background-image: url(https://i.pinimg.com/564x/6f/b2/3f/6fb23fc73ba14153933f1e067a53ef71.jpg);
        background-size: 500px 600px;
      
        height: 80vh;
        width: 25vw;
        left: 60vw;
        background-position: -70vw 50%;
      
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        animation: dd4 10s 2;
        animation-delay: 4s;
      }
      
      @keyframes dd1 {
        0% {
        }
        50% {
          width: 95vw;
        }
      }
      @keyframes dd12 {
        0% {
        }
        50% {
          background-position: Calc(0vw - 40px) 50%;
        }
      }
      @keyframes dd2 {
        0% {
        }
        50% {
          background-position: Calc(-10vw - 40px) 50%;
        }
      }
      @keyframes dd3 {
        0% {
        }
        50% {
          background-position: Calc(-35vw - 40px) 50%;
        }
      }
      @keyframes dd4 {
        0% {
        }
        50% {
          background-position: Calc(-70vw - 40px) 50%;
        }
      }

      
    path {  stroke: #fff; }
    path:hover {  opacity:0.9; }
    rect:hover {  fill:blue; }
    .axis {  font: 10px sans-serif; }
    .legend tr{    border-bottom:1px solid grey; }
    .legend tr:first-child{    border-top:1px solid grey; }
    
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .x.axis path {  display: none; }
    .legend{
        margin-bottom:76px;
        display:inline-block;
        border-collapse: collapse;
        border-spacing: 0px;
    }
    .legend td{
        padding:4px 5px;
        vertical-align:bottom;
    }
    .legendFreq, .legendPerc{
        align:right;
        width:50px;
    }


    .wrapper {width: 70%}
.slide {
  width: 100%; /* full width */
}

.world-outline {
  fill: #fff;
  stroke: rgba(150,155,165,.2);
  stroke-width: 1px;
}


.country {
    fill: #fff;
    stroke: rgba(150, 155, 165, .7);
    stroke-width: .5px;
    -webkit-transition: fill .3s ease-in-out;
    -moz-transition:fill .3s ease-in-out
}

.globecontainer {
  width: 80%;
}

.center {
    width: 300%;
    height: 300%;
    display: flex;
    align-items: center;
  }
  
  h1 {
    margin: 0 auto;
  }
  
  .letter {
    display: inline-block;
    width: 25px;
  }


  .blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem,1fr));
    gap:1rem;
}

.blogs .box-container .box {
    border:var(--border);
}

.blogs .box-container .box .image {
    height: 20rem;
    overflow:hidden;
    width:100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit:cover;
    width:100%;
}

.blogs .box-container .box:hover .image img {

  
    transform: scale(1.1)
  
    
}

.blogs .box-container .box .content{
    padding: 1rem;

}

.blogs .box-container .box .content .title  {
    font-size: 1.5rem;
    line-height: 1.5;
    color:aqua;
}



.blogs .box-container .box .content .span {
    color:var(--main-color);
    display: block;
padding-top: 1rem;
font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1rem;
    line-height:1.8;
    color: #fff;

}


.container{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    gap: 5rem;
    background:black;

}

.container .posts-container .post {
    width: 100%;
    padding: 2rem;
    background:  rgb(203, 202, 202);;
    border:var(--border);
    border-radius: .5rem;
}

.image {
    height: 20rem;
    width: 100%;
    border-radius: .7rem;
    object-fit:cover;

}

.title {
    padding-top: 1.2rem;
    font-size: 2.5rem;
    color:aqua;
}
.text {
    color: #fff;
}


footer{
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    background: rgb(244, 241, 241);
    height: auto;
    width: 100vw;
    padding-top: 200px;
    color: #fff;
}













