@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;500&display=swap');

:root {
    --main-color: rgb(203, 202, 202);
    --black:#13131;
    --bg:#010103;
    --border:.7rem solid rgba(251, 248, 248, 0.793);
}

*{
    font-family:'Maitree', serif; 
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5s liner;
}

html {
    font-size: 90%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5rem;
}
body {
    background: var(--bg);
}
section{
    padding: 3rem 7%;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;


}

.webinfo {
    color:#fff;
    font-size: 1rem;
    background-color: #010103;
    margin-top: 130px;
    max-width:600px;
}


.Writing {
    background-color: rgb(203, 202, 202);
    margin-top: 130px;
    max-width:1200px;

}
.header .logo img {
    height: 4rem;
}
.header .navbar a {
    cursor:pointer;
    margin:0 1rem;
    font-size:1rem;
    color:white;

}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;

}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size:2.3rem;
    margin-left: 2rem;

}

.header .icons div:hover{
color:var(--main-color)
}
#menu-btn {
    display: none;
}
.btn {
    color: aqua ;
}
.btn:hover {
    color:var(--main-color) ;
}

@media(max-width:991px) {
    html{
        font-size: 70%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 3rem;
    }
}


@media (max-width:768px){
    #menu-btn {
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height:calc(100vh- 9.5rem)
    }

  .header .navbar.active {
      right:0;
}
    .header .navbar a {
        color: var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size:1rem;

    }
   
}

.content {

    font-size: 2rem;
    color: white;

}

.home {
    min-height:100vh;
    display:flex;
    align-items: center;
    background:url(../img/alex-knight-2EJCSULRwC8-unsplash.jpg) no-repeat;
    background-size: cover;
    background-size: center;

}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    gap:1rem;
}

.blogs .box-container .box {
    border:var(--border);
}

.blogs .box-container .box .image {
    height: 20rem;
    overflow:hidden;
    width:100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit:cover;
    width:100%;
}

.blogs .box-container .box:hover .image img {

  
    transform: scale(1.1)
  
    
}

.blogs .box-container .box .content{
    padding: 1rem;

}

.blogs .box-container .box .content .title  {
    font-size: 1.5rem;
    line-height: 1.5;
    color:aqua;
}



.blogs .box-container .box .content .span {
    color:var(--main-color);
    display: block;
padding-top: 1rem;
font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1rem;
    line-height:1.8;
    color: #fff;

}


.container{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    gap: 5rem;
    background:black;

}

.container .posts-container .post {
    width: 100%;
    padding: 2rem;
    background:  rgb(203, 202, 202);;
    border:var(--border);
    border-radius: .5rem;
}

.image {
    height: 20rem;
    width: 100%;
    border-radius: .7rem;
    object-fit:cover;

}

.title {
    padding-top: 1.2rem;
    font-size: 2.5rem;
    color:aqua;
}
.text {
    color: #fff;
}


footer{
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    background: rgb(244, 241, 241);
    height: auto;
    width: 100vw;
    padding-top: 200px;
    color: #fff;
}

















